### pymongo setup

In [1]:
import pymongo

In [2]:
client = pymongo.MongoClient("localhost:27017")

In [3]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [9]:
client.list_database_names()

['acme', 'admin', 'config', 'local']

In [10]:
# neither the database nor the collection are created until you attempt to write a document
db = client.somedb
coll = db.somedata

In [11]:
client.list_database_names()

['acme', 'admin', 'config', 'local']

In [13]:
coll.insert_one({"name": "this is a name", "age": 32})

In [16]:
[item for item in coll.find()]

[{'_id': ObjectId('60cc4f0ce4e745372d9884e3'),
  'name': 'this is a name',
  'age': 32},
 {'_id': ObjectId('60cc4f17e4e745372d9884e4'),
  'name': 'this is a name',
  'age': 32}]

In [17]:
coll.insert_many([
    {"name": "this is a name", "age": 32},
    {"name": "bob", "age": 72},
    {"name": "simon", "age": 22},
    {"name": "jane", "age": 36},
])

In [18]:
[item for item in coll.find()]

[{'_id': ObjectId('60cc4f0ce4e745372d9884e3'),
  'name': 'this is a name',
  'age': 32},
 {'_id': ObjectId('60cc4f17e4e745372d9884e4'),
  'name': 'this is a name',
  'age': 32},
 {'_id': ObjectId('60cc4fa2e4e745372d9884e5'),
  'name': 'this is a name',
  'age': 32},
 {'_id': ObjectId('60cc4fa2e4e745372d9884e6'), 'name': 'bob', 'age': 72},
 {'_id': ObjectId('60cc4fa2e4e745372d9884e7'), 'name': 'simon', 'age': 22},
 {'_id': ObjectId('60cc4fa2e4e745372d9884e8'), 'name': 'jane', 'age': 36}]

In [20]:
[item for item in coll.find({"name": "this is a name"})]

[{'_id': ObjectId('60cc4f0ce4e745372d9884e3'),
  'name': 'this is a name',
  'age': 32},
 {'_id': ObjectId('60cc4f17e4e745372d9884e4'),
  'name': 'this is a name',
  'age': 32},
 {'_id': ObjectId('60cc4fa2e4e745372d9884e5'),
  'name': 'this is a name',
  'age': 32}]

In [21]:
[item for item in coll.find({"name": "simon"})]

[{'_id': ObjectId('60cc4fa2e4e745372d9884e7'), 'name': 'simon', 'age': 22}]

In [24]:
coll2 = db.moredata
coll2.insert_many([
    {"name": "blah"},
    {"name": "de blah"},
    {"name": "de blah"},
    {"name": "blah"},
])

In [25]:
[item for item in coll2.find()]

[{'_id': ObjectId('60cc5053e4e745372d9884ed'), 'name': 'blah'},
 {'_id': ObjectId('60cc5053e4e745372d9884ee'), 'name': 'de blah'},
 {'_id': ObjectId('60cc5053e4e745372d9884ef'), 'name': 'de blah'},
 {'_id': ObjectId('60cc5053e4e745372d9884f0'), 'name': 'blah'}]

In [30]:
from bson.objectid import ObjectId

coll2.update_one({"_id": ObjectId("60cc5053e4e745372d9884ed")}, {
    "$set": {
        "name": "this is a better name",
    }
}, upsert=True)

In [31]:
[item for item in coll2.find()]

[{'_id': ObjectId('60cc5053e4e745372d9884ed'),
  'name': 'this is a better name'},
 {'_id': ObjectId('60cc5053e4e745372d9884ee'), 'name': 'de blah'},
 {'_id': ObjectId('60cc5053e4e745372d9884ef'), 'name': 'de blah'},
 {'_id': ObjectId('60cc5053e4e745372d9884f0'), 'name': 'blah'},
 {'_id': '60cc5053e4e745372d9884ed', 'name': 'this is a better name'}]

In [32]:
coll2.delete_many({"name": "de blah"})

In [33]:
[item for item in coll2.find()]

[{'_id': ObjectId('60cc5053e4e745372d9884ed'),
  'name': 'this is a better name'},
 {'_id': ObjectId('60cc5053e4e745372d9884f0'), 'name': 'blah'},
 {'_id': '60cc5053e4e745372d9884ed', 'name': 'this is a better name'}]

In [35]:
coll2.delete_one({"_id": "60cc5053e4e745372d9884ed"})
[item for item in coll2.find()]

[{'_id': ObjectId('60cc5053e4e745372d9884ed'),
  'name': 'this is a better name'},
 {'_id': ObjectId('60cc5053e4e745372d9884f0'), 'name': 'blah'}]

In [36]:
client.drop_database("somedb")

***